@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  /*************** Forside *********************/

  h2 {
    font-size: 3rem;
    text-decoration: underline;
  }

  /*************** kategorier *********************/

  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Alegreya Sans SC", sans-serif;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3%;
  }
  .tegning_kate {
    display: none;
  }

  .kategorier a {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  /*************** produktliste *********************/

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    padding: 2%;
  }

  .krudsedulle {
    width: 15%;
    margin-left: 3%;
    margin-top: -14%;
    margin-bottom: 2%;
    z-index: 1;
  }

  .pil {
    width: 5%;
    margin-top: -11%;
    position: absolute;
    margin-left: 8%;
  }

  article {
    margin-bottom: 10%;
  }

  .udsolgt {
    font-family: "Oswald", sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 1.3rem;
    padding-left: 40%;
    padding-right: 37%;
    padding-bottom: 115%;
    padding-top: 5%;
    background-color: rgba(255, 255, 255, 0.405);
  }

  .rabat_tekst {
    font-family: "Oswald", sans-serif;
    color: rgb(254, 243, 130);
    position: absolute;
    font-size: 1.3rem;
    margin-left: 45%;
  }

  article a:hover {
    color: rgb(122, 107, 110);
    transition: 0.3s;
  }

  .nypris {
    margin-top: 1%;
  }

  .gammelpris {
    text-decoration: line-through;
    margin-top: -30%;
  }

  .pris_liste1 {
    margin-top: -30%;
  }

  .pris_liste {
    margin-top: -20%;
  }

  /*************** produkt *********************/

  .produkt_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .detaljer {
    font-family: "Work Sans", sans-serif;
    margin-left: 11.8%;
    color: white;
  }

  .puma {
    font-size: 1.2rem;
    margin-left: 5.7%;
  }

  .dnbb {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .pris {
    text-align: end;
    margin-right: 19%;
    margin-top: -6%;
    font-size: 1.2rem;
    background-color: rgb(122, 107, 110);
    margin-left: 65%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
  }

  .size {
    margin-right: 15%;
    font-size: 1.2rem;
    background-color: rgb(122, 107, 110);
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-top: 5%;

    text-align: center;
  }

  .add {
    margin-right: 15%;
    font-size: 1.2rem;
    background-color: rgb(122, 107, 110);
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-top: 5%;
    text-align: center;
  }

  .gridbilleder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: white;
    padding: 1%;
    margin-top: 8%;
    margin-left: 11.8%;
    margin-right: 13.5%;
  }
  /*************** footer *********************/

  footer {
    font-size: 0.8rem;
  }
}
