@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  /*************** Forside *********************/

  h2 {
    font-size: 3rem;
    text-decoration: underline;
  }

  /*************** kategorier *********************/

  .tegning_kate {
    display: none;
  }

  .kategorier a {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  /*************** produktliste *********************/

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    padding: 2%;
  }

  .krudsedulle {
    width: 15%;
    margin-left: 3%;
    margin-top: -14%;
    margin-bottom: 2%;
    z-index: 1;
  }

  .pil {
    width: 5%;
    margin-top: -11%;
    position: absolute;
    margin-left: 8%;
  }

  article {
    margin-bottom: 10%;
  }

  .udsolgt {
    font-family: "Oswald", sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 1.3rem;
    padding-left: 16%;
    padding-right: 15%;
    padding-bottom: 53%;
    background-color: rgba(255, 255, 255, 0.405);
  }

  .rabat_tekst {
    font-family: "Oswald", sans-serif;
    color: rgb(254, 243, 130);
    position: absolute;
    font-size: 1.3rem;
    margin-left: 17%;
  }

  article a:hover {
    color: rgb(122, 107, 110);
    transition: 0.3s;
  }

  .nypris {
    margin-top: 1%;
  }

  .gammelpris {
    text-decoration: line-through;
    margin-top: -30%;
  }

  .pris_liste1 {
    margin-top: -30%;
  }

  .pris_liste {
    margin-top: -20%;
  }
  /*************** footer *********************/

  footer {
    font-size: 0.8rem;
  }
}
