* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #c9bfb2;
}

body {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

img :hover {
  transform: scale(1.1);
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/******** Menu ********/

h1 {
  font-family: "Kalnia", serif;
  color: white;
  margin-top: 3%;
  font-size: 5vw;
  margin-left: 15%;
}

header {
  display: flex;
  margin-bottom: 5%;
  border-bottom: solid white;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  font-family: "Alegreya Sans SC", sans-serif;
  gap: 5rem;
  margin-top: 7%;
  margin-left: -5%;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  margin-right: 50%;
}

.menu a:hover {
  color: rgb(122, 107, 110);
  transition: 0.3s;
}

/******** Produktliste ********/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  padding: 2%;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  text-align: center;

  font-size: 4vw;
  margin-bottom: 3%;
}

article {
  font-family: "Work Sans", sans-serif;
  color: rgb(122, 107, 110);

  margin-bottom: 3%;
}

article a:hover {
  color: rgb(199, 138, 148);
  transition: 0.3s;
}

article a {
  color: rgb(122, 107, 110);
}

.tekst {
  margin-top: 0.5%;
  margin-bottom: 3%;
}

h5 {
  text-align: end;
  margin-top: -8.5%;
  margin-right: 3%;
}

.krudsedulle {
  width: 15%;
  margin-left: 3%;
  margin-top: -10%;
  margin-bottom: 2%;
  z-index: 1;
}

.pil {
  width: 5%;
  margin-top: -6%;
  position: absolute;
  margin-left: 8%;
}

.udsolgt {
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 3vw;
  padding-left: 11%;
  padding-right: 11.6%;
  padding-bottom: 35.5%;
  background-color: rgba(255, 255, 255, 0.405);
}

.rabat_tekst {
  font-family: "Oswald", sans-serif;
  color: rgb(254, 243, 130);
  position: absolute;
  font-size: 3vw;
  margin-left: 12%;
}

.billede {
  z-index: 1;
}

.udsolgt2 a:hover {
  text-decoration: line-through;
  color: rgba(122, 107, 110, 0.3);
}

/******** kategorier ********/

.kategorier {
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  text-align: center;
  margin-top: 3%;
  font-size: 4vw;
  margin-bottom: 3%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
  z-index: 2;
}

.kategorier a {
  color: white;
  text-decoration: none;
  font-size: 4vw;
}

.kategorier a:hover {
  color: rgb(122, 107, 110);
  transition: 0.3s;
}

.grid2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tegning_kate {
  width: 50%;
  z-index: 1;
  position: absolute;
  margin-left: 24%;
}

/******** Footer ********/

footer {
  font-family: "Kalnia", serif;
  color: white;
  text-align: center;
  margin-top: 1%;
  font-size: 1vw;
  margin-bottom: 1%;
}
