* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #c9bfb2;
}

body {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/******** Menu ********/

h1 {
  font-family: "Kalnia", serif;
  color: white;
  margin-top: 3%;
  font-size: 5rem;
  margin-left: 15%;
}

header {
  display: flex;
  margin-bottom: 5%;
  border-bottom: solid white;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  font-family: "Alegreya Sans SC", sans-serif;
  gap: 5rem;
  margin-top: 7%;
  margin-left: -10%;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  margin-right: 50%;
}

.menu a:hover {
  color: rgb(122, 107, 110);
  transition: 0.3s;
}

.no {
  text-decoration: none;
}

/******** Produktliste ********/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  padding: 2%;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  text-align: center;
  text-decoration: underline;

  font-size: 4rem;
  margin-bottom: 3%;
}

article {
  font-family: "Work Sans", sans-serif;
  color: rgb(122, 107, 110);

  margin-bottom: 3%;
}

article a:hover {
  color: rgb(199, 138, 148);
  transition: 0.3s;
}

article a {
  color: rgb(122, 107, 110);
}

.tekst {
  margin-top: 0.5%;
  margin-bottom: 3%;
}

h5 {
  text-align: end;
  margin-top: -10%;
  margin-right: 3%;
}

.krudsedulle {
  width: 15%;
  margin-left: 3%;
  margin-top: -10%;
  margin-bottom: 2%;
  z-index: 1;
}

.pil {
  width: 5%;
  margin-top: -6%;
  position: absolute;
  margin-left: 8%;
}

.udsolgt {
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  position: absolute;

  font-size: 2vw;
  padding-top: 2%;
  padding-left: 12%;
  padding-right: 11%;
  padding-bottom: 34%;
  background-color: rgba(255, 255, 255, 0.405);
}

.rabat_tekst {
  font-family: "Oswald", sans-serif;
  color: rgb(254, 243, 130);
  position: absolute;
  font-size: 2vw;
  margin-left: 13%;
}

.tekstud {
  text-decoration: line-through;
}

.billede {
  z-index: 1;
}

.udsolgt2 a:hover {
  text-decoration: line-through;
  color: rgb(122, 107, 110);
}

.nypris {
  margin-top: 1%;
}

.gammelpris {
  text-decoration: line-through;
}

h3 {
  width: 30ch;
}

/******** kategorier ********/

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3%;
}

.kategorier2 a {
  color: white;
  text-decoration: none;
  font-size: 4vw;
}

.kategorier2 a:hover {
  color: rgb(122, 107, 110);
  transition: 0.3s;
} /******** product ********/

.produkt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.billede_produkt {
  width: 80%;
  margin-left: 10%;
  background-color: white;
  padding: 2%;
}

.detaljer {
  font-family: "Work Sans", sans-serif;
  margin-left: 11.8%;
  color: white;
}

.puma {
  font-size: 2vw;
}

.dnbb {
  font-family: "Work Sans", sans-serif;
  font-size: 3vw;
}

.pris {
  text-align: end;
  margin-right: 15%;
  margin-top: -5%;
  font-size: 2vw;
  background-color: rgb(122, 107, 110);
  margin-left: 70%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
}

.size {
  margin-right: 15%;
  font-size: 1.5vw;
  background-color: rgb(122, 107, 110);
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  margin-top: 5%;

  text-align: center;
}

.add {
  margin-right: 15%;
  font-size: 1.5vw;
  background-color: rgb(122, 107, 110);
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  margin-top: 5%;
  text-align: center;
}

.gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  background-color: white;
  padding: 1%;
  margin-top: 8%;
  margin-left: 11.8%;
  margin-right: 13.5%;
}

/* .grid_sizeadd {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

/******** Footer ********/

footer {
  font-family: "Kalnia", serif;
  color: white;
  text-align: center;
  margin-top: 1%;
  font-size: 1rem;
  margin-bottom: 1%;
}

/******** Burgermenu ********/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 45px;
  right: 25px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.menu li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #c9bfb2;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    border-bottom: solid white;
  }

  nav.active .menu li {
    margin: 10px 20px;
    font-size: 1rem;
  }

  nav.active .menu a {
    text-align: center;
    font-size: 24px;
  }

  nav.active .menu a:hover {
    text-decoration: underline;
  }
}
